
<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail address</th>
    <th></th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td>{{contact | contactName}}</td>
    <td>{{contact.email}}</td>
    <td>
      <button (click)="editContact(contacts.indexOf(contact))" class="btn">Edit</button>
      <button (click)="deleteContact(contacts.indexOf(contact))" class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

<form (ngSubmit)="addContact()">
  <label for="inputFirstName">First name:</label>
  <input type="text" [(ngModel)]="newContact.firstName" name="firstName" id="inputFirstName" class="form-control">
  <label for="inputSurname">Surname:</label>
  <input type="text" [(ngModel)]="newContact.surname" name="surname" id="inputSurname" class="form-control">
  <label for="inputEmail">E-mail address:</label>
  <input type="text" [(ngModel)]="newContact.email" name="email" id="inputEmail" class="form-control">
  <button class="btn btn-primary">Add</button>
</form>

<div>

</div>
<form (ngSubmit)="addEditedContact()" [hidden]="contactNotEdited">
  <label for="editFirstName">First name:</label>
  <input type="text" [(ngModel)]="contactToEdit.firstName" name="firstName" id="editFirstName" class="form-control">
  <label for="editSurname">Surname:</label>
  <input type="text" [(ngModel)]="contactToEdit.surname" name="surname" id="editSurname" class="form-control">
  <label for="editEmail">E-mail address:</label>
  <input type="text" [(ngModel)]="contactToEdit.email" name="email" id="editEmail" class="form-control">
  <button class="btn btn-primary">Add</button>
</form>
